
@import url('@fortawesome/fontawesome-free/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-ellipse-top {
  clip-path: polygon(50% 8%, 80% 10%, 100% 14%, 100% 46%, 100% 100%, 60% 100%, 0 100%, 0 47%, 0 13%, 20% 10%);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social-icon {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white; /* White icon */
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Slightly more opaque on hover */
}